<h1>Dashboard</h1>
<%# <p>Find me in app/views/admin/dashboard/show.html.erb</p> %>
<h2>Products in the store : <%= @products.count %></h2>

<h2>Categories in the store: <%= @categories.count %></h2>


